                                          /* Header General */

/* Estilos globales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: 'Helvetica', sans-serif;
    background-color: #f0f0f0; /* Color de fondo de la página */
}

header {
    background-color: #ffffff; /* Color de fondo del encabezado */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    padding: 10px 20px; /* Espaciado interno del encabezado */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10; /* Asegura que el header esté por encima del flyer */

}


#nav {
    display: flex; 
    justify-content: space-between; /* Espacia el logo y el menú */
    align-items: center; 
    padding: 30px ; /* Espaciado interno */
    height: 55px;
}

#nav img {
    width: 250px; /* Ajusta el ancho de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
}

#nav ul {
    display: flex; 
    list-style-type: none;
    padding: 0; 
    margin: 0;
    background-color: #f8f9fa; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    justify-content: center; 
}

#nav li {
    margin: 0 20px; 
    padding: 10px 0; 
}

#nav a {
    text-decoration: none; 
    color: #262626; 
    font-size: 16px; 
    font-weight: 550; 
    padding: 10px 15px; 
    border-radius: 5px; 
    transition: all 0.3s ease; 
}

#nav ul a:hover {
    color: #127D09; 
    transform: translateX(+2px); 
}

/* Estilos responsivos para pantallas pequeñas */
@media (max-width: 768px) {
    #nav ul {
        flex-direction: column;
        align-items: center; /* Centra los elementos */
    }

    #nav li {
        margin: 10px 0;
    }
}



/* Estilos del botón de WhatsApp */
.whatsapp-button {
    position: fixed;
    bottom: 20px; 
    right: 20px;  
    background-color: transparent; 
    border-radius: 100%;
    padding: 6px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.whatsapp-button img {
    width: 50px;
    height: 50px;
}

.whatsapp-button:hover {
    background-color: transparent; 
    cursor: pointer;
}



/* Main General */

/* Sección de presentación */
.flayer_presentacion {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; /* Alinear al principio */
    align-items: center; 
    position: relative;
    width: 100%;
    height: auto; 
    min-height: 100vh; 
    overflow: hidden;
    margin-top: 40px;
}


/* Video dentro del flyer */
.flayer_presentacion .background_video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

/* Texto del contenido */
.nosotros {
    position: relative;
    z-index: 2;
    width: 60%; 
    padding: 20px;
    margin: 90px auto; 
    margin-left: 60px;
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.1); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    line-height: 1.6;
    font-size: 1.1rem;
    color: #000; /* Texto en negro */
    transition: background 0.3s ease; /* Transición suave para el fondo */
}

/* Efecto al pasar el mouse */
.nosotros:hover {
    background: rgba(255, 255, 255, 1); 
}

/* Remover márgenes en párrafos */
.nosotros p {
    margin: 0;
}

/* Estilos de énfasis */
.highlight {
    font-weight: bold;
    text-transform: uppercase;
    color: #002680; 
}

/* Lineas entre flayer y quienes somos */
.lineas_main {
    position: relative;
    height: 0;
}

.lineas_img {
    position: absolute;
    top: -86px;
    left: 50%;
    transform: translateX(-40%);
    width: auto;
    z-index: 3;
    pointer-events: none;
}

/* Estilo para dispositivos pequeños */
@media (max-width: 768px) {
    .nosotros {
        width: 90%; 
    }

    .lineas_img {
        top: -50px; 
    } 
} 


/* Línea de tiempo */

/* Estilos para la línea de tiempo */
.timeline {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
}


.bubble-title {
    position: relative; 
    margin-top: -21px; 
    background-color: #262626; 
    border-radius: 0 0 20px 20px; 
    width: calc(100% - 80px); 
    max-width: 400px; 
    margin-left: -50px; 
    margin-right: 20px; 
    margin-bottom: 50px;
    height: 50px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
    z-index: 3; /* Asegura que esté por encima del fondo */
}


.overlay_text {
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    position: relative;
    z-index: 4;
    text-shadow: 1px 1px 5px rgb(46, 45, 45);
    text-transform: uppercase; 
}


.timeline-container {
    position: relative;
    padding: 20px 0;
}

.timeline-item {
    display: flex;
    margin-left: 30px;
    align-items: flex-start;
    margin-bottom: 15px; /* Margen entre las burbujas */
}

.timeline-item2 {
    display: flex;
    margin-left: 580px;
    align-items: flex-start;
    margin-bottom: 15px; /* Margen entre las burbujas */
}

.first-bubble,
.second-bubble,
.third-bubble,
.fourth-bubble,
.fifth-bubble {
    background: rgba(255, 255, 255, 0.8); 
    border: 1px solid rgba(0, 0, 0, 0.1); /* Recuadro sutil */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    padding: 20px; 
    border-radius: 8px; 
    width: 400px;
    height: 150px; 
}

.first-bubble {
    margin-right: 20px; /* Espacio entre burbuja y año */
}

.second-bubble,
.third-bubble,
.fourth-bubble,
.fifth-bubble {
    margin-left: 20px; 
}

/* Años */
.first-year {
    min-width: 120px; 
    margin-top: 70px; 
    font-weight: bold;
    color: #262626; 
    align-self: flex-start; 
    text-align: center;
}

.second-year,
.third-year,
.fourth-year,
.fifth-year {
    min-width: 120px; 
    margin-top: 70px; 
    margin-left: 0; 
    font-weight: bold;
    color: #262626; 
    align-self: flex-start;
    text-align: center; 
}

.timeline-container::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0; 
    height: calc(100% - 70px); 
    width: 5px; 
    background: linear-gradient(to bottom, #2ecc71, #e74c3c 99%); 
    transform: translateX(-50%);
}

/* Efecto hover en los años */
.first-year:hover,
.second-year:hover,
.third-year:hover,
.fourth-year:hover,
.fifth-year:hover {
    color: #000; 
    transition: color 0.3s ease; 
}

/* Efecto hover en las burbujas */
.first-bubble:hover,
.second-bubble:hover,
.third-bubble:hover,
.fourth-bubble:hover,
.fifth-bubble:hover {
    background-color: #fff; 
    transform: scale(1.05); 
    transition: background-color 0.3s ease, transform 0.3s ease; 
}

.first-bubble h3,
.second-bubble h3,
.third-bubble h3,
.fourth-bubble h3,
.fifth-bubble h3 {
    margin-bottom: 10px; 
    text-transform: uppercase;
}

.fifth-bubble {
    margin-bottom: 50px;
}

@media (max-width: 768px) {
    .timeline-item {
        flex-direction: column; 
        align-items: center;
    }

    .timeline-year {
        margin-top: 10px; 
    }
}


/* Nuestros valores */

.valores {
    color: #262626; 
    padding: 60px 80px 100px; 
    text-align: center; 
    position: relative; 
    overflow: hidden; 
}

.background-video {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    object-fit: cover; 
    z-index: 1; 
}


.valores h2 {
    margin-bottom: 30px; 
}

.valores-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px; 
    margin-left: 60px;
    margin-right: 60px;
    position: relative; 
    z-index: 2; 
}

.valor-card {
    background-color: rgb(255, 255, 255); 
    border-radius: 10px; 
    padding: 30px;
    margin: 10px;
    text-align: left; 
    transition: transform 0.3s; 
}

.valor-card img {
    width: 180px; 
    height: auto; 
    margin-left: -60px;
}

.valor-card:hover {
    transform: scale(1.05); 
}

.bubble-title2 {
    position: relative; 
    margin-top: -60px; 
    background-color: #262626; 
    border-radius: 0 0 20px 20px; 
    width: calc(100% - 80px); 
    max-width: 400px; 
    margin-left: 40px; 
    margin-bottom: 50px;
    height: 50px;
    display: flex; 
    justify-content: center;
    align-items: center; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
    z-index: 3; /* Asegura que esté por encima del fondo */
}

.overlay_text2 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    position: relative;
    z-index: 4;
    text-shadow: 1px 1px 5px rgb(46, 45, 45);
    text-transform: uppercase;
    margin-top: 30px;
}

/* Unete a nostros */

.motivados {
    display: flex; 
    padding: 40px; /* Espaciado interno */
    color: #262626; 
    margin-bottom: 40px;
}

.motivados-texto {
    max-width: 50%; 
    margin-right: 20px; 
    margin-left: 60px; 
    line-height: 1.6; 
}

.motivados p {
    margin-bottom: 15px;
    font-size: 20px; 
}

.motivados-video {
    max-width: 100%; 
    display: flex; 
    justify-content: flex-start; 
    padding: 0; 
    margin: 0; 
}

.bubble {
    border-radius: 15px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 0; 
    width: 550px; 
    height: 300px; 
    margin-left: 50px; 
    margin-top: 40px; 
    transition: box-shadow 0.3s ease;
}

.bubble:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.9); 
}

.motivados-video video {
    width: 100%; 
    height: auto; 
    display: block; 
    margin: 0; 
    padding: 0; 
}

.bubble-title3 {
    position: relative; 
    margin-top: -1px; 
    background-color: #262626; 
    border-radius: 0 0 20px 20px; 
    width: calc(100% - 80px); 
    max-width: 400px; 
    margin-left: 120px; 
    margin-bottom: 20px;
    height: 70px; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
    z-index: 3; 
}

.overlay_text3 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    position: relative;
    z-index: 4;
    text-shadow: 1px 1px 5px rgb(46, 45, 45);
    text-transform: uppercase;
    margin-top: 0px;
}

.content_text2 {
    background-color: #28a745; 
    color: #FFFFFF; 
    border: none;
    border-radius: 5px; 
    padding: 10px 20px; 
    font-size: 18px; 
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.3s ease; 
    display: block; 
    margin: 20px 0 0 0; 
}

.content_text2:hover {
    background-color: #218838; 
    transform: scale(1.05); 
}

.content_text2:focus {
    outline: none; /* Elimina el contorno de enfoque */
}


/* Separacion con el formulario */


.lineas_footer {
    position: relative; 
    height: 0; 
}

.lineas_footer_img {
    position: absolute; 
    top: -85px; 
    left: 50%; 
    transform: translateX(-40%); 
    width: auto; 
    z-index: 3; 
    pointer-events: none; 
}




.footer h3 {
    font-size: 22px; 
    color: #ffffff; 
    margin-bottom: 20px; 
    text-transform: uppercase; 
    letter-spacing: 1px; 
    margin-left: 20px; 
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 
}

.footer p {
    font-size: 18px; 
    color: #d6d6d6; 
    margin-bottom: 15px; 
    margin-left: 20px; 
    max-width: 50%; 
    text-align: left; 
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
}


/* Estilo para los enlaces dentro del footer */

.footer {
    position: relative; 
    z-index: 1; 
    padding: 20px; 
    color: white; 
}

.video-background {
    position: absolute; 
    top: 0;
    left: 0; 
    width: 100%; 
    height: 100%; 
    overflow: hidden;
    z-index: 0; 
}

.video-background video {
    width: 100%; 
    height: 100%; 
    object-fit: cover; /* Cubre todo el espacio manteniendo la proporción */
}

.overlay {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(68, 68, 68, 0.5); 
    z-index: 1; /* Asegura que esté encima del video */
}

.footer-content {
    position: relative; 
    z-index: 2; /* Asegura que el contenido esté encima */
    padding: 20px; /* Agrega algo de espaciado interno */
}

.footer a {
    text-decoration: none;
}

.footer a.mail { 
    color: #eb0404; 
    transition: color 0.3s ease; /* Transición suave para el color */
}

.footer a.mail:hover { 
    color: #f74c4c; 
}

/* Efecto hover para todos los enlaces */
.footer a:hover {
    color: #f74c4c;
}

#formulario-container {
    display: flex;
    flex-direction: column;
    max-width: 600px; 
    margin: 0 0 50px 0; 
    padding: 30px; 
    background-color: #f9f9f9;
    border: 1px solid #bdc3c7;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
}

#formulario-container label {
    margin-bottom: 10px; 
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    color: #333;
}

#formulario-container input, 
#formulario-container textarea {
    padding: 12px; 
    margin-bottom: 20px; 
    border: 1px solid #bdc3c7;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%; 
}

#formulario-container input[type="number"],
#formulario-container input[type="email"],
#formulario-container input[type="text"] {
    height: 45px; 
}

#formulario-container textarea {
    resize: vertical;
    height: 120px; 
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    margin-top: 30px; 
}

.empresa-imagen {
    max-width: 150px;
}

button {
    padding: 12px 20px;
    background-color: #127D09;
    color: white;
    border: none;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0a5806; 
}



.button-container {
    display: flex; 
    align-items: center; 
    margin-top: 10px; 
}

.empresa-imagen {
    width: 140px; 
    height: auto; 
    margin-right: 10px; 
}

button {
    background-color: #27ae60; 
    color: white;
    padding: 12px 20px; 
    font-family: 'Helvetica', sans-serif; 
    font-size: 16px; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
    margin-left: auto; 
    display: block; 
    width: fit-content; 
}

     /* Final */

/* Estilos generales para la sección final */

.lineas_final {
    position: relative; 
    height: 0; 
}

.lineas_final_img {
    position: absolute; 
    top: -86px;
    left: 50%; 
    transform: translateX(-40%); 
    width: auto; 
    z-index: 3; 
    pointer-events: none; /* Evita que la imagen interfiera con otros elementos */
}


#footer {
    background-color: rgba(255, 255, 255, 0.9); 
    font-family: 'Poppins', sans-serif;
    width: 100%; 
    position: relative; 
    left: 0; 
    right: 0;
    margin: 0; 
    padding: 0; 
}



#final {
    background-color: #ffffff; 
    font-family: 'Arial', sans-serif; 
    display: flex; 
    flex-wrap: wrap; 
}

/* Estilos para la lista de enlaces */
.lista_final ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0px 60px;
    flex: 1 1 200px; 
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    justify-content: center; 
    height: 100%; 
}

.lista_final li {
    margin-bottom: 10px;
}

.lista_final a {
    text-decoration: none; 
    color: #34495e; 
    font-weight: bold; 
    font-size: 20px; 
    transition: color 0.3s, transform 0.3s; 
}

.lista_final a:hover {
    color: #3c5977; 
    transform: scale(1.05); 
}


/* Estilos para redes sociales */
#red_social {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin: 100px 0px;
    flex: 1 1 200px; 
}

#red_social p {
    margin-bottom: 10px; 
    font-weight: bold; 
    color: #34495e; 
    font-size: 20px;
    text-align: center; 
}

.social-icons {
    margin: 10px;
    margin-left: 0px; 
    display: flex; 
    justify-content: flex-start; 
}

.social-icons a {
    color: #333; 
    font-size: 30px; 
    margin-left: 15px; 
    transition: color 0.3s, transform 0.3s; 
}

.social-icons a:hover {
    color: #27ae60; 
    transform: scale(1.1); 
}



/* Estilos para la información de contacto */

.logo_final {
    width: 120px; 
    height: auto;
    margin-bottom: 10px; 
    display: block; 
    align-self: flex-start; 
}

.contact_info {
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
    flex: 1 1 200px; 
    margin: 60px 20px; 
    margin-left: 60px; 

}

.contact_info h1 {
    margin: 0;
    color: #333; 
    font-size: 20px; 
    position: relative;
    transition: color 0.5s ease; 
}

.contact_info h1:hover {
    color: #27ae60;
}

.contact_info p,
.contact_info a {
    margin: 5px 0; 
    color: #333; 
    display: flex; 
    align-items: center; 
}

.contact_info a {
    margin-top: 15px;
    text-decoration: none; 
    color: #34495e; 
    font-weight: bold; 
    transition: color 0.3s; 
}

.contact_info a:hover {
    color: #1e8449; 
}

.contact_info a i {
    margin-right: 5px; 
    color: #27ae60; 
    transition: color 0.3s; 
}

.contact_info a:hover i {
    color: #1e8449;
}

/* Estilos para el mapa */
.mapa_final iframe {
    display: flex;
    width: 350px;
    height: 250px;
    border: 0;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    margin: 40px 60px;
}

.mapa_final iframe:hover {
    transform: scale(1.05); 
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3); 
}

/* Estilos para el pie de página */
.article {
    text-align: center; 
    color: #000000; 
    width: 100%; 
    position: relative; 
    bottom: 0; 
}
