                                          /* Header General */

/* Estilos globales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: 'Helvetica', sans-serif;
    background-color: #f0f0f0; /* Color de fondo de la página */
}

header {
    background-color: #ffffff; /* Color de fondo del encabezado */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    padding: 10px 20px; /* Espaciado interno del encabezado */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10; /* Asegura que el header esté por encima del flyer */

}


#nav {
    display: flex; 
    justify-content: space-between; /* Espacia el logo y el menú */
    align-items: center; /* Centra verticalmente */
    padding: 30px ; /* Espaciado interno */
    height: 55px;
}

#nav img {
    width: 250px; /* Ajusta el ancho de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
}

#nav ul {
    display: flex; 
    list-style-type: none;
    padding: 0; 
    margin: 0; 
    background-color: #f8f9fa; /* Color de fondo claro para todo el navbar */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil debajo del navbar */
    justify-content: center; /* Centra los elementos dentro del navbar */
}

#nav li {
    margin: 0 20px; /* Espacio entre los elementos de la lista */
    padding: 10px 0; 
}

#nav a {
    text-decoration: none;
    color: #262626; /* Color del texto */
    font-size: 16px; /* Cambia el tamaño de fuente */
    font-weight: 550; /* Hace el texto un poco más grueso */
    padding: 10px 15px; /* Añade padding al enlace */
    border-radius: 5px; /* Redondea los bordes de los enlaces */
    transition: all 0.3s ease; /* Suaviza las transiciones */
}

#nav ul a:hover {
    color: #127D09; /* Texto blanco cuando pasa el ratón */
    transform: translateX(+2px); /* Leve movimiento hacia arriba cuando pasa el ratón */
}

/* Estilos responsivos para pantallas pequeñas */
@media (max-width: 768px) {
    #nav ul {
        flex-direction: column; 
        align-items: center; /* Centra los elementos */
    }

    #nav li {
        margin: 10px 0; /* Espacio entre los elementos de la lista en pantallas pequeñas */
    }
}



/* Estilos del botón de WhatsApp */
.whatsapp-button {
    position: fixed;
    bottom: 20px; 
    right: 20px;  
    background-color: transparent; 
    border-radius: 100%;
    padding: 6px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.whatsapp-button img {
    width: 50px;
    height: 50px;
}

.whatsapp-button:hover {
    background-color: transparent; 
    cursor: pointer;
}



/* Main General */


/* Sección de presentación */
.flayer_presentacion {
    position: relative;
    width: 100%;
    height: 100vh; /* Ocupará el 100% de la altura de la ventana */
    overflow: hidden; /* Evita que el contenido desborde */
}

/* Video dentro del flyer */
.flayer_presentacion .background_video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* El video ocupa toda la ventana */
    object-fit: cover;
    z-index: 1;
}


/* Texto superpuesto */
.overlay_text, .overlay_subtext, .normal_overlay_text {
    z-index: 2;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7); /* Sombra sutil */
}

/* Detalles específicos de los textos */
.overlay_text {
    top: 40%;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: bold;
}

.overlay_subtext {
    top: 48%;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: bold;
}

.normal_overlay_text {
    top: 70%;
    font-size: 23px;
    text-transform: none;
    transition: color 0.3s ease, transform 0.3s ease, opacity 0.3s ease; /* Transiciones suaves */
}



/* Lineas entre flayer y quienes somos */
.lineas_main {
    position: relative; /* El contenedor debe ser relativo para que la imagen esté fija */
    height: 0; /* No ocupa espacio visual */
}

.lineas_img {
    position: absolute; 
    top: -86px; 
    left: 50%; /* Centra la imagen horizontalmente */
    transform: translateX(-40%); /* Asegura que esté centrada */
    width: auto; /* Ajusta el tamaño de la imagen si es necesario */
    z-index: 3; /* Asegura que esté por encima de las demás secciones */
    pointer-events: none; /* Evita que la imagen interfiera con otros elementos */
}


/* Estilo para dispositivos pequeños */
@media (max-width: 768px) {
    .overlay_text {
        font-size: 24px; 
        padding: 10px 20px;
    }
}




#quienes_somos h1 {
    color: #262626; 
    font-size: 2em; 
    text-align: left; /* Alinea el texto a la izquierda */
    margin: 40px 0 30px 60px; /* Incrementa el margen izquierdo para desplazarlo más a la derecha */
    font-family: 'Poppins', sans-serif; 
    text-transform: uppercase; /* Convierte el texto a mayúsculas */
    position: relative; 
}

#quienes_somos h1::after {
    content: ''; 
    position: absolute;
    left: 0;
    bottom: -10px; /* Posiciona la línea justo debajo del título */
    width: 100px; 
    height: 5px; 
    background: linear-gradient(to right, #127D09, #ff1400); 
    transition: all 0.4s ease; /* Transición suave para el efecto */
}

#quienes_somos h1:hover::after {
    width: 260px; 
    background: linear-gradient(to right, #127D09, #ff1400); 
}

#quienes_somos h1 a {
    color: inherit; 
    text-decoration: none; 
    font-size: inherit; /* Hereda el tamaño de fuente del h1 */
    font-family: inherit; 
    font-weight: inherit; 
}

#quienes_somos p {
    background-color: rgba(200, 200, 200, 0.9); 
    border-radius: 20px; /* Bordes redondeados para la burbuja */
    padding: 20px; /* Espaciado interno */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    font-size: 1.2em; 
    line-height: 1.5; 
    max-width: 600px; /* Limita el ancho de la burbuja */
    margin: 0 0 70px 60px;  
    text-align: justify; 
    font-family: 'Poppins', sans-serif; 
    color: #262626; 
    transition: all 0.4s ease; /* Añade una transición suave */
}

.container_nosotros {
    position: absolute; 
}

.iconos_nosotros {
    position: absolute;
    top: -200px;
    right: -1250px;
}




#nuestros_servicios {
    overflow: auto; 
}

#nuestros_servicios h1 {
    color: #262626;
    font-size: 2em; 
    text-align: right; /* Alinea el texto a la derecha */
    margin: 0px 60px 30px 60px; 
    font-family: 'Poppins', sans-serif; 
    text-transform: uppercase; /* Convierte el texto a mayúsculas */
    position: relative; 
}

#nuestros_servicios h1::after {
    content: ''; 
    position: absolute;
    right: 0; /* Alinea la línea al lado derecho */
    bottom: -10px; /* Posiciona la línea justo debajo del título */
    width: 100px; 
    height: 5px; 
    background: linear-gradient(to right, #127D09, #ff1400); 
    transition: all 0.4s ease; /* Transición suave para la línea alargándose */
}

#nuestros_servicios h1:hover::after {
    width: 341px; 
    background: linear-gradient(to right,#127D09, #ff1400); 
}

#nuestros_servicios h1 a {
    color: inherit; 
    text-decoration: none; 
    font-size: inherit; 
    font-family: inherit; 
    font-weight: inherit; 
}

#nuestros_servicios p {
    background-color: rgba(200, 200, 200, 0.9); 
    border-radius: 20px; /* Bordes redondeados para la burbuja */
    padding: 20px; /* Espaciado interno */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
    font-size: 1.2em;
    line-height: 1.5; 
    max-width: 600px; /* Limita el ancho de la burbuja */
    margin: 0 60px 0 0; /* Sin margen a la derecha */
    float: right; /* Mueve la burbuja a la derecha */
    text-align: justify; /* Justifica el texto */
    font-family: 'Poppins', sans-serif;
    color: #262626; 
}

.uppercase {
    text-transform: uppercase; 
}


.container {
    position: absolute; 
}

.iconos {
    position: absolute;
    top: -250px;
    right: -550px;
}



#Clientes h1 {
    color: #262626; 
    font-size: 2em; 
    text-align: left; 
    margin: 0px 0 30px 60px;
    font-family: 'Poppins', sans-serif; 
    text-transform: uppercase; 
    position: relative; 
    
}

#Clientes h1::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px; 
    width: 100px; 
    height: 5px; 
    background: linear-gradient(to right, #127D09, #ff1400); 
    transition: all 0.4s ease; 
}

#Clientes h1:hover::after {
    width: 145px; 
    background: linear-gradient(to right, #127D09, #ff1400); 
}

#Clientes h1 a {
    color: inherit; 
    text-decoration: none; 
    font-size: inherit;
    font-family: inherit; 
    font-weight: inherit; 
}
#Clientes p {
    background-color: rgba(200, 200, 200, 0.9); 
    border-radius: 20px; 
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    font-size: 1.2em; 
    line-height: 1.5; 
    max-width: 600px; 
    margin: 0 0 70px 60px; 
    text-align: justify; 
    font-family: 'Poppins', sans-serif; 
    color: #262626;
}

.uppercase {
    text-transform: uppercase; 
}

.container_clientes {
    position: absolute; 
}

.iconos_clientes {
    position: absolute;
    top: -260px;
    right: -1295px;
}




.lineas_footer {
    position: relative;
    height: 0; 
}

.lineas_footer_img {
    position: absolute; 
    top: -85px; 
    left: 50%; 
    transform: translateX(-40%); 
    width: auto; 
    z-index: 3; 
    pointer-events: none; 
}





.footer h3 {
    font-size: 22px; 
    color: #ffffff; 
    margin-bottom: 20px; 
    text-transform: uppercase; 
    letter-spacing: 1px; 
    margin-left: 20px; 
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 
}

.footer p {
    font-size: 18px; 
    color: #d6d6d6; 
    margin-bottom: 15px; 
    margin-left: 20px; 
    max-width: 50%; 
    text-align: left; 
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
}


/* Estilo para los enlaces dentro del footer */

.footer {
    position: relative; 
    z-index: 1; 
    padding: 20px; 
    color: white;
}

.video-background {
    position: absolute;
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    overflow: hidden; 
    z-index: 0; 
}

.video-background video {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

.overlay {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(68, 68, 68, 0.5); 
    z-index: 1; 
}

.footer-content {
    position: relative; 
    z-index: 2; 
    padding: 20px; 
}

.footer a {
    text-decoration: none; 
}

.footer a.mail { 
    color: #eb0404; 
    transition: color 0.3s ease; 
}

.footer a.mail:hover { 
    color: #f74c4c; 
}

/* Efecto hover para todos los enlaces */
.footer a:hover {
    color: #f74c4c; 
}

#formulario-container {
    display: flex;
    flex-direction: column;
    max-width: 600px; 
    margin: 0 0 50px 0;
    padding: 30px; 
    background-color: #f9f9f9;
    border: 1px solid #bdc3c7;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
}

#formulario-container label {
    margin-bottom: 10px; 
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    color: #333;
}

#formulario-container input, 
#formulario-container textarea {
    padding: 12px; 
    margin-bottom: 20px; 
    border: 1px solid #bdc3c7;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%; 
}

#formulario-container input[type="number"],
#formulario-container input[type="email"],
#formulario-container input[type="text"] {
    height: 45px; 
}

#formulario-container textarea {
    resize: vertical; 
    height: 120px; 
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    margin-top: 30px; 
}

.empresa-imagen {
    max-width: 150px; 
}

button {
    padding: 12px 20px;
    background-color: #127D09;
    color: white;
    border: none;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0a5806; 
}



.button-container {
    display: flex; 
    align-items: center; 
    margin-top: 10px; 
}

.empresa-imagen {
    width: 140px; 
    height: auto; 
    margin-right: 10px; 
}

button {
    background-color: #27ae60; 
    color: white; 
    padding: 12px 20px; 
    font-family: 'Helvetica', sans-serif; 
    font-size: 16px; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    margin-left: auto; 
    display: block; 
    width: fit-content; 
}

     /* Final */

/* Estilos generales para la sección final */

.lineas_final {
    position: relative; 
    height: 0; 
}

.lineas_final_img {
    position: absolute; 
    top: -86px; 
    left: 50%; 
    transform: translateX(-40%); 
    width: auto; 
    z-index: 3; /* Asegura que esté por encima de las demás secciones */
    pointer-events: none; /* Evita que la imagen interfiera con otros elementos */
}


#footer {
    background-color: rgba(255, 255, 255, 0.9); 
    font-family: 'Poppins', sans-serif;
    width: 100%; 
    position: relative; 
    left: 0; 
    right: 0; 
    margin: 0; 
    padding: 0; 
}



#final {
    background-color: #ffffff; 
    font-family: 'Arial', sans-serif; 
    display: flex; 
    flex-wrap: wrap; 
}

/* Estilos para la lista de enlaces */
.lista_final ul {
    list-style-type: none; /* Eliminar viñetas */
    padding: 0; 
    margin: 0px 60px;
    flex: 1 1 200px; 
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
    justify-content: center;
    height: 100%; 
}

.lista_final li {
    margin-bottom: 10px; 
}

.lista_final a {
    text-decoration: none; 
    color: #34495e; 
    font-weight: bold; 
    font-size: 20px; 
    transition: color 0.3s, transform 0.3s; 
}

.lista_final a:hover {
    color: #3c5977; 
    transform: scale(1.05);
}


/* Estilos para redes sociales */
#red_social {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: 100px 0px; 
    flex: 1 1 200px; 
}

#red_social p {
    margin-bottom: 10px; 
    font-weight: bold; 
    color: #34495e; 
    font-size: 20px; 
    text-align: center; 
}

.social-icons {
    margin: 10px;
    margin-left: 0px; 
    display: flex;
    justify-content: flex-start; 
}

.social-icons a {
    color: #333; 
    font-size: 30px; 
    margin-left: 15px; 
    transition: color 0.3s, transform 0.3s; 
}

.social-icons a:hover {
    color: #27ae60; 
    transform: scale(1.1); 
}



/* Estilos para la información de contacto */

.logo_final {
    width: 120px; 
    height: auto; 
    margin-bottom: 10px; 
    display: block; 
    align-self: flex-start; 
}

.contact_info {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    flex: 1 1 200px; 
    margin: 60px 20px; 
    margin-left: 60px;
}

.contact_info h1 {
    margin: 0;
    color: #333; 
    font-size: 20px; 
    position: relative; 
    transition: color 0.5s ease; 
}

.contact_info h1:hover {
    color: #27ae60; 
}

.contact_info p,
.contact_info a {
    margin: 5px 0; 
    color: #333; 
    display: flex;
    align-items: center; 
}

.contact_info a {
    margin-top: 15px;
    text-decoration: none; 
    color: #34495e; 
    font-weight: bold; 
    transition: color 0.3s; 
}

.contact_info a:hover {
    color: #1e8449; 
}

.contact_info a i {
    margin-right: 5px; 
    color: #27ae60; 
    transition: color 0.3s; 
}

.contact_info a:hover i {
    color: #1e8449;
}

/* Estilos para el mapa */
.mapa_final iframe {
    display: flex;
    width: 350px;
    height: 250px;
    border: 0;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Sombra inicial */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transiciones suaves */
    margin: 40px 60px;
}

.mapa_final iframe:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3); 
}

/* Estilos para el pie de página */
.article {
    text-align: center; 
    color: #000000; 
    width: 100%; 
    position: relative; 
    bottom: 0; 
}
